@using WebApi.Models;
@model Tuple<ArpenspModel, CadespModel, JucespModel, CagedModel>

@{
    ViewData["Title"] = "Relatorio Simplificado";
}

<!-- Page Content -->

<html lang="en">
<head>
    <title>Login V3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/wwwroot/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/wwwroot/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url(../../wwwroot/images/bg-01.jpg)">
            <div class="wrap-login100">
                <form class="login100-form validate-form" asp-action="RelatorioSimplificado" asp-controller="Home" asp-route-id="" method="get">
                    <span class="login100-form-logo">
                        <img src="~/wwwroot/images/mpsp.png" />
                    </span>
                    <span class="login100-form-title p-b-34 p-t-27">
                        Relatorio Simplificado
                    </span>
                    <span class="login100-form-title p-b-34 p-t-27">
                        Arpensp
                    </span>
                    <label>Cartorio do Registro</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(tuple => tuple.Item1.CartorioRegistro)">

                    <label>Numero do CNS</label>
                    <input class="input100" type="number" disabled="disabled" value="@Html.DisplayFor(model => model.Item1.NumCNS)">

                    <label>UF</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item1.UF)">

                    <label>Nome do Conjuge</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item1.NomeConj)">

                    <label>Novo nome do Conjuge</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item1.NovoNomeConj)">

                    <label>Nome do Conjuge</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item1.NomeConj2)">

                    <label>Novo nome do Conjuge 2</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item1.NovoNomeConj2)">

                    <label>Data do Casamento</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item1.DataCasamento)">

                    <label>Matricula</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item1.Matricula)">

                    <label>Data da Entrada</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item1.DataEntrada)">

                    <label>Data do Registro</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item1.DataRegistro)">

                    <br />

                    <span class="login100-form-title p-b-34 p-t-27">
                        Cadesp
                    </span>

                    <label>CNPJ</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item2.CNPJ)">

                    <label>Data da Inscrição</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item2.DataInscricao)">

                    <label>DRT</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item2.DRT)">

                    <label>Formas de Atuação</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item2.FormasAtuacao)">

                    <label>IE</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item2.IE)">

                    <label>Nire</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item2.Nire)">

                    <label>Nome Empresarial</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item2.NomeEmpresarial)">

                    <label>Ocorrencia Fiscal</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item2.OcorrenciaFiscal)">

                    <label>Posto Fiscal</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item2.PostoFiscal)">

                    <label>Regime Estadual</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item2.RegimeEstadual)">

                    <label>Situação</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item2.Situacao)">

                    <label>Tipo da Unidade</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item2.TipoUnidade)">

                    <br />

                    <span class="login100-form-title p-b-34 p-t-27">
                        Jucesp
                    </span>

                    <label>Data</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item3.Data)">

                    <label>Nome</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item3.Nome)">

                    <label>Número da Matriz</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item3.NumMatriz)">

                    <label>Tipo de Empresa</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item3.TipoEmpresa)">

                    <label>Data Constante</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item3.DataConst)">

                    <label>Inicio da Atividade</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item3.InicioAtiv)">

                    <label>Capital</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item3.Capital)">

                    <label>Logradouro</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item3.Logradouro)">

                    <label>Número</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item3.Numero)">

                    <label>Complemento</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item3.Complemento)">

                    <label>Bairro</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item3.Bairro)">

                    <label>Municipio</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item3.Municipio)">

                    <label>CEP</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item3.Cep)">

                    <label>UF</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item3.Uf)">

                    <br />

                    <span class="login100-form-title p-b-34 p-t-27">
                        Caged
                    </span>

                    <label>Telefone</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item4.Telefone)">

                    <label>Ramal</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item4.Ramal)">

                    <label>E-mail</label>
                    <input class="input100" type="text" disabled="disabled" value="@Html.DisplayFor(model => model.Item4.Email)">

                    <br />

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            @Html.ActionLink("Gerar PDF", "RelatorioPdf")
                        </button>
                    </div>

                    <br />

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            @Html.ActionLink("Voltar", "Menu")
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/wwwroot/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/wwwroot/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/wwwroot/vendor/bootstrap/js/popper.js"></script>
    <script src="~/wwwroot/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/wwwroot/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/wwwroot/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/wwwroot/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/wwwroot/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/wwwroot/js/main.js"></script>

</body>
</html>